    body,
    h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    p{
        font-family: "Montserrat", sans-serif;
        color: white;

    
    }
    body{
        background-color: 0a0a0a;
    }

    .w3-row-padding img {
        margin-bottom: 12px
    }

    .bgimg {
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
            background-image:url("img/bg-masthead.jpg");
        min-height: 100%;
    }
.redTag{
    color: crimson;
}